page-Register {
  .center-title{
  text-align: center;
  margin-top: -25px;
  }
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
  .slide-title {
    margin-top: 2.8rem;
    color: #fff;
    font-size: 35px;
    text-align: center;
  }
  .center-logo{
    text-align: center;
  }
  .bg-tutorial {
    background-image: url("/assets/img/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    }
  .slide-zoom {
    height: 100%;
  }
  .jobs{
    position: absolute;
    bottom: 20px;
  }
  .swiper-pagination-bullet {
    border-radius: 100%;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    opacity: .5;
    pointer-events: auto;
  }
  .swiper-pagination-bullet-active {
    background: #E8B8AC !important;
    opacity: 1;
}
  $text-input-highlight-color-valid: #000;
  .slide-title {
    margin-top: 2.8rem;
  }
  .item-block:first-child {
    border-top: transparent !important;
}
  .input-cover {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border-bottom: 1px solid #000 !important;
}
  .logo-image {
    margin: 20px 0;
    margin-top: 0;
    width: 65%;
  }
  .content-login{
    margin: 30px;
  }
  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #000 !important;
  }

  .logo-image-side {
    margin: 50px 0;
    margin-top: 30%;
    margin-bottom: 22%;
    width: 85%;
  }
  .text-input-md {
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
  }
  .item-ios {
    padding-left: 0px !important;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: transparent !important;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
.item-md {
    padding-left: 0px !important;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fadein-out-border{ transition: 2s ease-in-out all;}
  .right{
    text-align: right !important;
  }

  ::-webkit-input-placeholder {
color: #fff !important;
}
*:-moz-placeholder {
color: #fff !important;
}
*:-ms-input-placeholder {
color: red !important;
}

input::-webkit-input-placeholder {
color: #999;
}
input:focus::-webkit-input-placeholder {
color: #fff;
}

/* Firefox < 19 */
input:-moz-placeholder {
color: #fff;
}
input:focus:-moz-placeholder {
color: #fff;
}

/* Firefox > 19 */
input::-moz-placeholder {
color: #999;
}
input:focus::-moz-placeholder {
color: #fff;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
color: #999;
}
input:focus:-ms-input-placeholder {
color: #fff;
}

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 18px;
    line-height: 1.5;
    color: #000;

    b {
      color: #000;
    }
  }
}
