page-perfil-jobs {
  .bg-pelos{
    background-image: url("/assets/img/estila-05.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-cover{
    background-image: url("/assets/img/maqui1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    opacity: .3;
  }
  .cover{
    background-color: #000;
  }
  .img-perfil{
    background-image: url("/assets/img/user1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    position: absolute;
    top: 7rem;
    right: 37%;
    border: 3px solid #e8b6ac;
  }
  .title-perfil{
    font-size: 22px;
    margin-top: 25px;
  }
  ion-fab {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    right: 15px;
  }
  .card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: rgba(255, 255, 255, 0.72) !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-ios {
  margin: 10px;
  border-radius: 2px;
  width: calc(100% - 20px);
  font-size: 1.4rem;
  background: rgba(255, 255, 255, 0.72) !important;
  }
}
